::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background: transparent;
    height: 100px;
    transform: translateY(-16rem);
}

#navp2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#navp2 h4 {
    padding: 10px 20px;
    border: 2.5px solid #e3694a;
    border-radius: 30px;
    font-weight: 500;
    color: white;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s;
}

#navp2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e3694a;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#navp2 h4:hover::after {
    bottom: 0px;
    border-radius: 0%;
}

#navp2 h4 a {
    text-decoration: none;
    color: #e3694a;
    position: relative;
    z-index: 9;
    font-family: poppins;
}

#navp2 h4:hover a {
    color: white;
}

.overlay{
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    backdrop-filter: blur(5px);
    transition: 0.5s ease;
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('../../Visuals/bkg1.png');
    object-fit: cover;
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.box {
    position: relative;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 1020px;
    /* transform: translateY(2.8rem); */
    border-radius: 3.3rem;
    backdrop-filter: blur(4px);
    box-shadow: 0px 60px 40px -30px rgba(0, 0, 0, 0.27);
    color: white;
}

.inner-box {
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    overflow: hidden;
}

.form-section {
    position: relative;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    display: flex;
    flex: 1;
    transition: 0.8s ease-in-out;
}

form {
    max-width: 380px;
    width: 100%;
    margin: 0 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    transition: opacity 0.02s 0.4s;
    flex-direction: column;
}

#join-reg-form {
    opacity: 0;
    pointer-events: none;
}

.logo h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -10px;
}

.heading h3 {
    font-size: 3.1em;
    font-weight: 600;
    font-family: "Lusitana";
    letter-spacing: -1px;
    margin: 0px;
}

.heading h6 {
    font-size: 1.5rem;
    display: inline;
}

.toggle {
    font-size: 1.5rem;
    text-decoration: none;
    color: #e3694a;
    font-weight: 700;
    transition: 0.3s;
}

.toggle:hover {
    color: white;
    font-weight: 700;
}

.form-group {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}


.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border-bottom: 1px solid #b2b2b2;
    padding: 0;
    font-size: 0.95rem;
    transition: 0.4s;
    top: 4px;
    left: 0px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    font-weight: 600;
    color: white;
}

.form-group label {
    pointer-events: none;
    font-size: 0.95rem;
    color: #b2b2b2;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
}

.radio-btns {
    display: flex;
    margin: 1.2rem;
}

.form-group .rbtn {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.form-group .radio-tile {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 5px;
    border-radius: 12px;
    transition: all 300ms ease;
}

.rbtn-labels {
    margin: 0px 30px;
    color: white;
}

.rbtn:checked+.radio-tile {
    color: white;
    background-color: #e3694a;
    font-weight: 600;
}


.input-field.active {
    border-bottom: 1px solid #e3694a;
}

.input-field.active+label {
    font-size: 0.75rem;
    top: -2px;
}

.form-btns {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e3694a;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.75rem;
    transition: 0.4s;
}

.form-btns:hover {
    font-weight: 500;
    color: #e3694a;
    background-color: white;
}


.form-elements {
    height: 200px;
    width: 380px;
    overflow: hidden;
    overflow-y: visible;
    padding: 10px 0px;
}

.errormsg {
    color: red;
    transform: translateY(40px);
    position: absolute;
}

main.form-mode #join-form {
    opacity: 0;
    pointer-events: none;
}

main.form-mode #join-reg-form {
    opacity: 1;
    pointer-events: all;
}

main.form-mode .form-section {
    left: 55%;
}

main.form-mode .carousel {
    transform: translateX(-80%)
}

.carousel {
    width: 55%;
    flex: 1;
    height: 100%;
    background-color: #e3694a;
    position: absolute;
    left: 45%;
    border-radius: 2rem;
    transition: 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
}

.form-model {
    background-color: white;
    color: black;
    position: absolute;
    height: 300px;
    max-width: 600px;
    z-index: 10;
    transform: translate(40px, 30px);
    border-radius: 24px;
    padding-left: 10px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.form-model.active {
    display: flex;
    opacity: 1;
}

.form-model .close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    width: 20px;
    cursor: pointer;
}

.form-model .forms {
    height: 300px;
    position: relative;
    width: 330px;
    overflow: hidden;
    margin: 0px 10px;
}

.forget-password-form, .forget-password-form form {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    left: 100%;
    top: 0;
    opacity: 0;
    margin: 0;
}

.forget-password-form .input-field {
    top: 0;
    color: black;
}

.imgContainer {
    width: 270px;
    height: 100%;
    position: relative;
    background-color: #190e0a;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.imgContainer .imgContainer-imgs{
    width: 100%;
    height: 70%;
}

.forget-password-form.active {
    left: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.forms-btns {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e3694a;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.75rem;
    transition: 0.4s;
}