
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.blur{
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  backdrop-filter: blur(5px);
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.1);
}
  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: opacity 0.5s;
    user-select: none;
  }

  .confetti {
    width: 10px;
    height: 20px;
    position: absolute;
    opacity: 0.7;
  }

  .user-panel {
    width: 23.5%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    overflow: scroll;
    z-index: 2;
    background: #1a1e2d;
  }

  .gift-img{
    width: 212.2px;
    position: relative;
    cursor: pointer;
    animation: levitation 1.5s infinite;
  }

@keyframes levitation{
  0%{
    transform: rotate(0deg);
    bottom: 0px;
  }    
  25%{
    transform: rotate(0deg);
    bottom: 20px;
  }
  50%{
    transform: rotate(5deg);
    bottom: 20px;
  }
  75%{
    transform: rotate(-5deg);
    bottom: 20px;
  }
  100%{
    transform: rotate(0deg);
    bottom: 0px;
  }
}
.click{
  background-color: black;
  border-radius: 12px;
  width: 100%;
  animation: reverse_transition 1.2s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.click.clicked{
  animation: transition 1.2s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

.display h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: #fff;
  font-family: "Poppins";
  font-size: 4em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  width: 60%;
  cursor: pointer;
}

.display h4{
  position: fixed;
  font-size: 1.8rem;
  font-family: 'Poppins';
  color: white;
  right: 10%;
  bottom: 10%;
}

.greeting-text{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Poppins";
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

canvas{
  display:block;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

@keyframes transition {
  0% {
    width: 17.6%;
    height: 35.9%;
    background-color: black;
  }
  100% {
    width: 100%;
    height: 100%;
    background-color:#ff432e;
  }
}

@keyframes reverse_transition {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 17.6%;
    height: 35.9%;
  }
}