::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Sans-Serif';
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: url('/Visuals/connect_background.png');
  background-size: cover;
}

.container-fluid {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

.sidebar {
  width: 100%;
  height: 100vh;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

.logo {
  height: 90px;
  width: 90px;
  margin-bottom: 50%;
}

.sidebar .nav-link,
.sidebar .drop-down-button {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  color: #b3b3b3;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding-left: 5px;
  border: none;
  width: 100%;
  transition: 0.5s ease;
}

.sidebar .drop-down-button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar .nav-link .nav-link-text,
.sidebar .drop-down-button .nav-link-text {
  flex-grow: 1;
}

.sidebar .sub-menu {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: 350ms ease;
  margin: 0;

  >div {
    overflow: hidden;
  }
}

.sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.drop-down-button:hover {
  background-color: #333;
}

.drop-down-button>svg:last-child {
  rotate: 0deg;
  transition: 300ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

.nav-link:hover {
  background-color: #333;
}

.nav-link.active {
  color: #e3694a;
}

#sub-link {
  margin-left: 0px;
  padding-left: 2.5rem;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  padding-top: 15px;
}

.profile-image {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  border: 2px white solid;
  background-color: #555;
}

.profile-name {
  flex-grow: 1;
  color: white;
}

.drop-icon {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.drop-icon svg {
  transition: 300ms ease;
  rotate: 0deg;
}

.drop-icon.rotate svg {
  rotate: 180deg;
}

.profile-actions {
  margin-top: 15px;
  display: grid;
  grid-template-rows: 0fr;
  padding-left: 30px;
  transition: 350ms ease;
}

.profile-actions.show {
  grid-template-rows: 1fr;
}


.action-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: #e3694a;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 5px;
  gap: 15px;
  transition: 0.5s ease;
}

.action-btn:hover {
  background-color: #333;
}

.action-btn i {
  color: white;
  margin-right: 10px;
}

.main {
  width: 90%;
  height: 100vh;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  padding: 25px 10px 10px;
}

.top-bar {
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 0px 0px 20px;
  display: flex;
  gap: 20px;
}

.community-content-section {
  display: flex;
  height: calc(100vh - 180px);
  box-sizing: border-box;
}

.topic-panel {
  background-color: rgba(255, 255, 255, 0.1);
  width: 20%;
  border-radius: 12px;
  margin: 0px 20px 0px 0px;
  padding: 10px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.topic-card {
  height: 150px;
  background-color: rgba(255, 255, 255, 0.11);
  overflow: hidden;
  border-radius: 12px;
}

.topic-card .text-content {
  font-size: 0.8rem;
  padding: 5px;
  width: fit-content;
  color: white;
  font-weight: 600;
}

.topic-panel hr {
  color: white;
  margin: 0.8rem 15px;
}

.discussion-panel {
  width: 56%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 0px 20px 0px 0px;
  overflow-y: auto;
  padding-bottom: 15px;
}

.user-panel {
  width: 20.5%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px;
  overflow: scroll;
}

.user-topic {
  display: flex;
  padding: 15px;
  gap: 2rem;
  width: 100%;
}

.user-topic .content {
  width: 510px;
  height: 345px;
  border-radius: 12px;
  overflow: scroll;
  flex-grow: 1;
}

.comment-card {
  display: flex;
  color: white;
  gap: 20px;
}

.comment-data {
  margin-bottom: 0.5rem;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 12px;
}

.user-data {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
  gap: 10%;
  border-radius: 12px;
  padding: 5px;
  transition: 0.4s linear;
  cursor: pointer;
}

.user-data:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.interactive-menu {
  width: 70px;
  height: 53px;
  border-radius: 12px;
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.5s ease;
  float: right;
  margin: 0px 15px 0px auto;
  position: sticky;
  bottom: 10px;
}

.interactive-menu.extend {
  width: 590px;
}

.discussion-input {
  display: none;
  width: 0px;
  transition: width 0.5s ease;
}

.discussion-field {
  border-radius: 12px;
  padding: 10px;
  height: 50px;
  outline: none;
  background-color: rgb(137, 137, 137);
  color: white;
}

.discussion-field::placeholder {
  color: white;
}

.interactive-menu.extend .discussion-input {
  display: inline-block;
  pointer-events: visible;
  width: 540px;
}

.interactive-menu.extend .discussion-field {
  width: 96%;
}

.interactive-menu.extend #toggle-button-icon {
  font-size: 1.3rem;
}

.interaction-buttons.hide {
  display: none;
}

#toggle-button-icon {
  font-size: 2rem;
  margin: 0px 0px 0px 0px;
  color: white;
  background-color: #e3694a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 50px;
  flex-shrink: 0;
}

.interaction-buttons {
  display: flex;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px;
  opacity: 0;
  flex-basis: fit-content;
  position: relative;
  right: 20px;
  backdrop-filter: blur(4px);
  width: 100%;
  overflow: hidden;
  transition: 0.5s ease;
}

.interaction-buttons .button {
  display: flex;
  flex: 1 1 auto;
  gap: 10%;
  margin-top: 4px;
  margin-right: 1rem;
}

.interaction-buttons.active {
  opacity: 1;
  pointer-events: visible;
}

.interactive-menu:has(.interaction-buttons.active) {
  width: 410px;
}

.button-text {
  font-size: 1rem;
}