body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
  background: url('../../Visuals/bkg1.png');
  background-size: cover;
}

.container-fluid {
  height: calc(100vh - 10px);
  display: flex;
  flex-wrap: nowrap;
  transition: filter 0.3s ease;
  justify-content: center;
  width: 100%;
  margin: 0;
  position: fixed;
}

.popup-box {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 40rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.delete-profile-confirmation {
  width: 50%;
  padding: 10px;
  background: #e65029;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.logout-link {
  background: transparent;
  text-decoration: none;
  color: whitesmoke;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #e3694a;
  width: 50%;
  transition: background 0.5s ease;
}

.logout-link:hover {
  background: #e3694a;
  transition: background 0.5s ease;
}

/* 
/* Popup container styling 
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease;
}

/* Popup box styling 
.popup-box {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 40rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  position: relative;
}

/* Close button 
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color:white;
}

.close-btn:hover{
  color:red;
} */

/* Form styling */
.form-group {
  position: relative;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 15px;
  background: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

.input-field:focus {
  outline: none;
  background: #444;
}

/* Labels */
/* label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 12px;
  pointer-events: none;
  transition: 0.3s;
}

.input-field:focus + label,
.input-field.active + label {
  top: 5px;
  font-size: 10px;
  color: #fff;
} */

/* Submit button */
.form-btns {
  width: 100%;
  padding: 10px;
  background: #e65029;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.form-btns:hover {
  background: #ff6b3d;
}

/* .show-popup .popup-container {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.show-popup .content {
  filter: blur(5px);
} */

/* .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10rem;
  margin-right: 38rem;
  color:white;
}

.close-btn:hover{
    color:red;
}
/* Overlay & Popup */
/* .popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease;
}

.popup-box {
  background: #1a1a1a;
  padding: 20px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  
}
.post-form .input-field {
  width: 100%;
  background: #333;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 14px;
  outline: none;
}
/* Show Popup */
/* .show-popup .popup-container {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.show-popup .content {
  filter: blur(5px);
} */
*/ */ .sidebar {
  width: 200px;
  height: 100vh;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  position: fixed;
}

.logo {
  height: 90px;
  width: 90px;
  margin-bottom: 17px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  color: #b3b3b3;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding-left: 5px;
}

.nav-link:hover {
  background-color: #333;
}

.nav-link.active {
  color: #e3694a;
}

#sub-link {
  margin-left: 25px;
}

.profile-section {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #444;
  padding-top: 15px;
}

.profile-image {
  width: 60px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
}

.profile-name {
  flex-grow: 1;
  color: white;
}

.profile-actions {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: #e3694a;
  border-radius: 5px;
  padding: 5px 5px;
  margin-bottom: 5px;
}

.action-btn:hover {
  background-color: #333;
}

.action-btn i {
  color: white;
  margin-right: 10px;
}

.card-custom {
  background-color: #1e1e1e;
  border: none;
  padding: 10px;
}

.trending-section {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

h2,
h4,
p,
strong {
  color: white;
}

h5 {
  color: #f2745f;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  color: aliceblue;
}

.date {
  color: aliceblue;
  padding-left: 350px;
}

#community:hover {
  cursor: pointer;
}

.small-text,
.small-text a {
  color: #f2745f;
  text-decoration: none;
  flex-grow: 1;
}

.input-box {
  background-color: #333;
  color: #aaa;
  border-radius: 20px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-box input[type="text"] {
  border: none;
  background: none;
  outline: none;
  color: white;
  width: 100%;
}

.add-icon {
  color: #f2745f;
  cursor: pointer;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
}

.plus i {
  color: #f2745f;
  margin-left: 450px;
}

.custom-nav {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100%;
  margin-top: 1rem;
}

.custom-nav .nav-link.active {
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #e3694a;
  margin: 0;
  justify-content: center;
}

.custom-nav .nav-link {
  color: #aaa;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  margin: 0;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.content img {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.trending-panel::-webkit-scrollbar {
  display: none;
}

.add-post-modal::-webkit-scrollbar {
  display: none;
}

.trending-panel {
  width: 24%;
  color: white;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  height: calc(100vh - 100px);
  margin: 1rem 0rem 0rem 1rem;
  position: sticky;
  top: 25px;
  overflow-y: scroll;
}

.trending-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.trending-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.trending-item img {
  width: 100px;
  height: 65px;
  margin-right: 15px;
  border: 1px solid;
  border-radius: 5%;
}

.trending-rank {
  font-size: 0.9rem;
  color: #aaa;
  padding-bottom: 30px;
  padding-right: 80px;
}

.trending-title {
  font-size: 1rem;
  font-weight: bold;
}

#title {
  color: #f2745f;
  margin-left: 25px;
  font-size: 20px;
}

#arrow {
  color: #f2745f;
  padding-left: 25px;
}

#arrow2 {
  color: #f2745f;
  padding-left: 80px;
}

.name img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 7px;
}

.name {
  border-bottom: 1px solid;
  border-color: #444;
}

#right-arrow {
  padding-left: 80px;
  color: #e3694a;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 10px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar input {
  background: none;
  border: none;
  outline: none;
  color: white;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.search-bar .search-icon {
  width: 15px;
  height: 15px;
  border: 2px solid #e3694a;
  border-radius: 50%;
  position: relative;
}

.search-bar .search-icon::after {
  content: '';
  width: 6px;
  height: 2px;
  background-color: #e3694a;
  position: absolute;
  top: 9px;
  left: 9px;
  transform: rotate(45deg);
  border-radius: 2px;
}

#center-section {
  margin-left: 17%;
}



.explore-section {
  margin-left: 240px;
  margin-top: 15px;
}

.community-section {
  margin-left: 240px;
}

.e-search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 12px;
  border-radius: 10px;
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  display: inline-block;
}

.e-search-bar input {
  background: none;
  border: none;
  outline: none;
  color: white;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
}

.e-search-bar .search-icon {
  width: 15px;
  height: 15px;
  border: 2px solid #e3694a;
  border-radius: 50%;
  position: relative;
  display: inline-block;

}

.e-search-bar .search-icon::after {
  content: '';
  width: 6px;
  height: 2px;
  background-color: #e3694a;
  position: absolute;
  top: 9px;
  left: 9px;
  transform: rotate(45deg);
  border-radius: 2px;
}

.select-item select {
  padding: 9px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #3a3a3a;
  color: #ffffff;
  width: 20%;
  margin-left: 10px;
  color: #e3694a;
}

.recently-searched {
  padding: 20px;
}

.recently-searched h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #f0f0f0;
}

.card-container {
  display: flex;
  gap: 15px;
}

.e-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 15px;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.e-card img {
  width: 100%;
  border-radius: 10px;
  height: 130px;
}

.e-card .author {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #bbb6b6;
}

.e-card .author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.e-card .title {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
}

.show-more {
  margin-top: 20px;
  text-align: right;
}

.show-more a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 14px;
}



.users-section {
  padding: 20px;
}

.users-section h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #f0f0f0;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.user-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details span {
  font-size: 14px;
}

.user-details .username {
  font-weight: bold;
  font-size: 16px;
}

.post-count {
  font-size: 14px;
  color: #bbb6b6;
}

.id {
  color: #e3694a;
}

.button {
  background-color: #e3694a;
  border: none;
  border-radius: 15px;
  margin-left: 55px;
  color: #f0f0f0;
  padding: 5px 17px;
}

.member {
  font-size: 10px;
  color: #bbb6b6;
}



.community-card {
  max-width: 100%;
  height: 110px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 15px 0px;
  display: flex;
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.community-card .community-details {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 78%;
}

.community-card img {
  border-radius: 12px;
  object-fit: cover;
}

.community-card .title-section {
  display: flex;
  height: 50px;
  padding: 10px 10px;
  position: absolute;
  width: 77.2%;
  margin: 0px 5px 0px 10px;
}

.community-card .community-info {
  display: flex;
  width: 98%;
  height: 50px;
  margin-top: 3rem;
  padding: 0px 10px;
  margin-left: 10px;
}

.community-section h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #f0f0f0;
  margin-left: 20px;
  margin-top: 10px;
}

.c-btn {
  background-color: #e3694a;
  color: #f0f0f0;
  border: none;
  width: 190px;
  padding: 8px;
  margin-left: 20px;
  border-radius: 12px;
  font-size: 20px;
}


.profile-card {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 60rem;
}

.profile-card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

#searching {
  width: 60rem;
}

.profile-pic {
  height: 4rem;
  width: 4rem;
}

.post-image {
  width: 60rem;
  height: 20rem;
}

#view {
  padding-left: 45rem;
  color: #e3694a;
}

#com {
  color: #e3694a;
}

.profile-nav .nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 61rem;
}

.profile-nav .nav-item li {
  display: inline-block;
}

.dropdown,
#join {
  margin-left: 5rem;
  color: white;
}

#infoDropdown {
  color: white;
}

input::value {
  color: whitesmoke;
  transition: opacity 0.3s ease;
}

input:focus::value {
  opacity: 0;
}

.votes {
  display: flex;
  gap: 20px;
  align-items: center;
  /*border: 2px solid;*/
  padding: 5px;
  border-radius: 25px;
  height: 40px;
}

.votes button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  outline: none;
  height: 40px;
}

.votes>.arrow,
.votes>.count {
  font-size: 1.5rem;
  margin: 0;
  height: fit-content;
  cursor: pointer;
}

.votes:has(.arrow.up) {
  background-color: #e3694a;
}

.votes:has(.arrow.down) {
  background-color: #333;
}

#pagination button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 6px 12px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

#pagination button:hover {
  background-color: #555;
}

#pagination button:disabled {
  background-color: #222;
  color: #777;
  border: 1px solid #444;
  cursor: not-allowed;
}

#page-numbers button {
  background-color: #222;
  border: 1px solid #777;
  color: #bbb;
  padding: 6px 10px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

#page-numbers button:hover, 
#page-numbers button[style*="bold"] {
  background-color: #d13c23;
  color: white;
  border: 1px solid whitesmoke;
}


#pagination1 {
  margin-top: 10px;
  margin-bottom: 1rem;
}

#pagination1 button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 6px 12px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

#pagination1 button:hover {
  background-color: #555;
}

#pagination1 button:disabled {
  background-color: #222;
  color: #777;
  border: 1px solid #444;
  cursor: not-allowed;
}

#page-numbers1 button {
  background-color: #222;
  border: 1px solid #777;
  color: #bbb;
  padding: 6px 10px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

#page-numbers1 button:hover, 
#page-numbers1 button[style*="bold"] {
  background-color: #d13c23;
  color: white;
  border: 1px solid whitesmoke;
}

#page-numbers_comm button {
  background-color: #222;
  border: 1px solid #777;
  color: #bbb;
  padding: 6px 10px;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

#page-numbers_comm button:hover, 
#page-numbers_comm button[style*="bold"] {
  background-color: #d13c23;
  color: white;
  border: 1px solid whitesmoke;
}